## 2.- Analsiis de datos extra

In [ ]:
import pandas as pd
import os

In [2]:
data = pd.read_csv(r"..\..\data\raw\train.csv")

NameError: name 'pd' is not defined

In [ ]:
print("\nInformación general:")
data.shape

Información general:

(22835, 21)

In [ ]:
print("VALORES ÚNICOS POR COLUMNA:")
for col in data.columns:
    print(f"\n--- {col} ---")
    unique = data[col].unique()
    print(f'{len(unique)}')
    print(f'{unique}')

📌 VALORES ÚNICOS POR COLUMNA:

--- id ---
22835
['bd9d6267ec5' '9eebf6d8098' '83806858500' ... 'ddb3c5e9bff' '407200a5dfe'
 'eaa66193392']

--- LoanNr_ChkDgt ---
22835
[1523195006 1326365010 6179584001 ... 4082983001 7783283010 1513375008]

--- Name ---
20443
['P-SCAPE LAND DESIGN, LLC' 'The Fresh & Healthy Catering C'
 'AARON MASON & HOWE LLC' ... 'MAINLINE TRCK&TRAILR SRVC, INC'
 'TIN BOX STUDIO' 'Lowex, Inc.']

--- City ---
1679
['NORTHFIELD' 'CANTON' 'SAWYERWOOD' ... 'CASTALIA' 'KITTS HILL'
 'East Canton']

--- State ---
1
['OH']

--- Bank ---
287
['CITIZENS BANK NATL ASSOC' 'FIRSTMERIT BANK, N.A.'
 'PNC BANK, NATIONAL ASSOCIATION' 'THE HUNTINGTON NATIONAL BANK'
 'STEARNS BK NATL ASSOC' 'NATL BK & TR CO' 'WACHOVIA SBA LENDING, INC.'
 'THE CITIZENS SAVINGS BANK' 'ACCESS BUS. DEVEL & FINANCE IN'
 'KEYBANK NATIONAL ASSOCIATION' 'JPMORGAN CHASE BANK NATL ASSOC'
 'THE MERCHANTS BANK & TRUST CO.' 'U.S. BANK NATIONAL ASSOCIATION'
 'FIFTH THIRD BANK' 'CITIZENS BANK' 'CAPITAL ONE NATL ASSOC'
 'THE LORAIN NATIONAL BANK' 'LUCAS CNTY IMPROVEMENT CORP'
 'CALIFORNIA BANK & TRUST' 'WESBANCO BANK, INC.'
 'GE CAP. SMALL BUS. FINAN CORP' 'OHIO STATEWIDE DEVEL CORP'
 'BUSINESS LOAN CENTER, LLC' 'UPS CAPITAL BUSINESS CREDIT'
 '1ST CIT. NATL BK OF UPPER SAN' 'CERTIFIED DEVEL CORP - WARREN'
 'INDEPENDENCE BANK' 'COMMUNITY CAP. DEVEL CORP' 'READYCAP LENDING, LLC'
 'CORTLAND SAVINGS & BK. CO.' 'CASCADE CAPITAL CORPORATION'
 'UNITED MIDWEST SAVINGS BANK' 'CIT. NATL BK OF BLUFFTON'
 'PEOPLES BANK NATL ASSOC' 'FIRST NATL BK IN NEW BREMEN'
 'THE PARK NATIONAL BANK' 'WELLS FARGO BANK NATL ASSOC'
 'THE CITIZENS BANKING COMPANY' 'SEVEN SEVENTEEN CU INC' 'AURORA BANK FSB'
 '1ST NATIONAL COMMUNITY BANK' 'UMPQUA BANK'
 'HAMILTON CNTY DEVEL COMPANY IN' 'STARK DEVEL BOARD FINAN CORP'
 'GROWTH CAPITAL CORP.' 'CITYWIDE SMALL BUS. DEVEL CORP'
 'MAHONING VALLEY ECONOMIC DEVEL' 'MENTOR ECONOMIC ASSISTANCE COR'
 'FARMERS & MERCHANTS ST. BK' 'COMMUNITY SOUTH BANK'
 'LIBERTY SAVINGS BANK, F.S.B.' 'COUNTY CORP DEVELOPMENT'
 'FIRST FINAN BANK NATL ASSOC' 'HEARTLAND BANK' 'BBCN BANK'
 'LAKE NATIONAL BANK' 'FIRST KNOX NATL BANK A DIVISIO'
 'GENOA BANKING COMPANY' 'FIRST NATL BK OF PENNSYLVANIA'
 'BANK SNB, NATIONAL ASSOCIATION' 'PORTAGE COMMUNITY BANK'
 'UNITY NATL BANK A DIVISION OF' 'FIRST MERCHANTS BANK NATL ASSO'
 'FIRST NATIONAL BANK' 'FARMERS STATE BANK'
 'SUPERIOR FINANCIAL GROUP, LLC' 'COMM. & SAVINGS BK OF MILLERS'
 'CENTERBANK' 'SBA DENVER FINANCE CENTER' 'BANK OF AMERICA NATL ASSOC'
 'CONSUMERS NATIONAL BANK' 'HOME CITY FED. SAVINGS BK OF S'
 'THE OHIO VALLEY BANK COMPANY' 'RIVERHILLS BANK' 'HOME NATIONAL BANK'
 'FAIRFIELD NATL BANK A DIVISION' nan 'AMER EXPRESS CENTURION BK'
 'FIRST FED. COMMUN BANK NATL AS' 'KEY DIRECT, A BRANCH OF'
 'FARMERS NATL BK OF CANFIELD' 'NORTH SIDE BANK & TRUST CO.'
 'SMALL BUS. LOAN SOURCE LLC' 'BANK OF MAUMEE'
 'BANCO POPULAR NORTH AMERICA' 'WAKARUSA VALLEY DEVELOPMENT IN'
 'CITY NATL BK OF W. VIRGINIA' 'GREENE CNTY DEVEL CORP'
 'CINCINNATI LOCAL DEVEL CO' 'UNITED FIDELITY BANK, FSB'
 'CENTURY NATL BANK A DIVISION O' 'WEST VIRGINIA CERT. DEVEL CORP'
 'MINSTER BANK' 'RICHLAND TRUST, A DIVISION OF' 'WESTFIELD BANK, FSB'
 'FIRST-CITIZENS BK & TR CO' 'HOME SAVINGS & LOAN CO OF YOU'
 'CLARK CNTY DEVEL CORP' 'TALMER BANK AND TRUST'
 'PROGRESSIVE BANK NATL ASSOC' 'BRANCH BK. & TR CO'
 'TD BANK, NATIONAL ASSOCIATION' 'URBAN PARTNERSHIP BANK'
 'FIRST COMMUNITY BANK' 'OHIO SAVINGS BANK A DIVISION O'
 'FIRST FED. BK OF MIDWEST' 'DOLLAR BANK A FED. SAVINGS BK'
 'MIDDLEFIELD BK. CO' 'NEW CARLISLE FED. SAVINGS BK'
 'NORTHWEST OHIO DEVEL ASSISTANC' 'AMERICAN SAVINGS BANK, FSB'
 'LOANS FROM OLD CLOSED LENDERS' 'VINTON CNTY NATL BK'
 'LAKE CNTY SMALL BUS. CORP' 'DAY AIR CU INC' 'KEY COMMUNITY BANK'
 'SCIOTO ECONOMIC DEVELOPMENT' 'THE BANK OF KENTUCKY, INC'
 'GENERAL ELECTRIC CU' 'GEAUGA SAVINGS BANK' 'LIBERTY BANK NATL ASSOC'
 'WEST CENTRAL PARTNERSHIP, INC.' 'SUPERIOR FCU'
 'PROVIDENT COMM. GROUP INC.' 'LOUISA COMMUNITY BANK'
 'UNIFORM REGION NINE CERTIFIED' '1ST NATL BK OF GERMANTOWN'
 'BUCKEYE COMMUNITY BANK' 'PORTAGEBANC SHARES, INC'
 'ASHTABULA CNTY 503 CORP' 'UNITY BANK' 'THE CITIZENS BANK OF LOGAN'
 'TELHIO CU INC' 'UNITED BANK, A DIVISION OF' 'LIVE OAK BANKING COMPANY'
 'UNITED BANK' 'SPIRIT OF TEXAS BANK, SSB' 'THE UNION BANK COMPANY'
 'COMERICA BANK' 'INNOVATIVE BANK' 'AKRON SMALL BUSINESS'
 'THE COMMERCIAL SAVINGS BANK' 'THE COMMUNITY BANK'
 'NATL REP. BK OF CHICAGO' 'DELAWARE CNTY BK & TR CO'
 'THE CROGHAN COLONIAL BANK' 'ST. BK & TR CO' 'WILLIAMSTOWN BANK, INC.'
 'MUTUAL FED. SAVINGS BANK A FED' 'FIRST WESTERN SBLC, INC'
 'FIRST SENTRY BANK, INC.' 'PROVIDENT INVEST ADVISERS INC'
 'BUSINESS LENDERS, LLC' 'TEXTRON FINANCIAL CORP'
 'SECURITY NATL BANK A DIVISION' 'CAPITAL ONE BK (USA) NATL ASSO'
 'KINGSTON NATIONAL BANK' 'KENNEBUNK SAVINGS BANK'
 'NEWTEK SMALL BUS. FINANCE INC.' 'THE FAHEY BANKING COMPANY'
 'ANDOVER BANK' 'COMMUNITY FIRST BANK, N.A.' 'LCNB NATIONAL BANK' 'CFBANK'
 'SPRING VALLEY BANK' 'SECOND NATL BANK A DIVISION OF'
 'HORIZON BANK NATL ASSOC' 'THE FARMERS STATE BANK' 'CHEVIOT SAVINGS BANK'
 '1ST NATL BK OF DENNISON' 'OLD NATIONAL BANK' 'BANK OF THE WEST'
 'CITIZENS DEPOSIT BANK & TRUST' 'AMER BUS. LENDING INC.' 'VENTURE BANK'
 'OHIO STATE BANK, THE' 'CELTIC BANK CORPORATION' 'RIVER VALLEY CU'
 'GERMAN AMER BANCORP D/B/A GERM' 'MERCHANTS NATIONAL BANK'
 'ZIONS FIRST NATIONAL BANK' 'SUTTON BANK' 'MAIN STREET BANK CORP.'
 'COMMUNITY BANK OF PARKERSBURG' 'CLEVELAND CITYWIDE DEVELOPMENT'
 'LIBERTY NATIONAL BANK' 'FIRST FEDERAL BANK OF OHIO'
 'MANUFACTURERS & TRADERS TR CO' 'APPLE CREEK BK. CO' 'NORTH VALLEY BANK'
 'AG CR. AGRICULTURAL CR. ASSOC' 'FIRST & PEOPLES BK & TR CO'
 'WILMINGTON BUS. DEVEL' 'THE BANCORP BANK' 'FIRST FINANCIAL BANCORP'
 'FARMERS & MERCHANTS BANK' 'COMERICA BK & TRUST NATL ASSOC'
 'CITIZENS BANK COMPANY' 'FARMERS & SAVINGS BANK A DIVIS'
 'COMMONWEALTH SMALL BUS. DEVEL' 'FRANKLIN S & L CO' 'SYNOVUS BANK'
 'FIRST BANK' 'THE MILTON BANKING CO.' 'GROW AMERICA FUND INC'
 'WAYNE SAVINGS COMMUNITY BANK' 'CERTUSBANK NATL ASSOC' 'HOMETOWN BANK'
 'WAYNE BANK AND TRUST CO.' 'INEZ DEPOSIT BANK' 'BNY MELLON NATL ASSOC'
 'AMERICAN ENTERPRISE BANK' 'COMMUNITY W. BANK NATL ASSOC'
 'WATERFORD BANK NATL ASSOC' 'HOME LOAN INVEST BANK F.S.B.'
 'NATL CONSUMER COOPERATIVE BK' 'FIRSTMERIT COMMUN DEVEL CORP'
 'NATL BK OF INDIANAPOLIS' 'FIRST FED. S & L ASSOC OF LAKE'
 'THE HOCKING VALLEY BANK' 'THE KILLBUCK SAVINGS BANK CO.'
 'FAITH COMMUNITY UNITED CU INC.' 'COMM. CR. FINAN CORP'
 'FIRST AMERICAN BANK' 'FIRST NATL CINCINNATI CORP'
 'CITIZENS NATL BANK A DIVISION' 'THE MONITOR BANK'
 'REPUBLIC BANK & TRUST COMPANY' 'PARK NATL BK - S.W. OHIO & NOR'
 'FIFTH THIRD BANCORP' 'NCB, FSB' 'NORTHWEST BANK & TRUST COMPANY'
 'FIRST COMMONWEALTH BANK' 'FIRST NATL BK OF MCCONNELSVILL'
 'SHOREBANK CLEVELAND CORP' 'COMMUNITY TRUST BANK, INC.'
 'OHIO UNIVERSITY CU INC' 'COMMODORE BANK' 'STAR FINANCIAL BANK'
 'KEMBA FINANCIAL CU' 'LCNB CORP' 'MERRILL LYNCH BANK USA'
 'WRIGHT PATT CU INC' 'PNC FINAN SERVICES GROUP INC.' 'THE SAVINGS BANK'
 'FIRST CENTRAL NATIONAL BANK' 'FIRST NATIONAL BANK OF OMAHA'
 'CINCO FAMILY FINAN CENTER CU I' 'UNITED CENTRAL BANK'
 'ROCKHOLD BROWN & CO BK' 'AURGROUP FINANCIAL CU' 'MAINSOURCE BANK'
 'FORT JENNINGS STATE BANK' 'PIONEER COUNTRY DEVELOPMENT IN'
 'VERD-ARK-CA DEVEL CORP' 'CITICAPITAL SMALL BUS. FINANCE'
 'OLD NATIONAL TRUST COMPANY' 'HOMEPRIDE BANK' 'COLUMBUS FIRST BANK'
 'HERITAGE BANK, INC' 'CARDINAL BANK' 'TEXTRON BUSINESS CREDIT, INC.'
 'FIRST BANK OF OHIO' 'THE CITIZENS BANK OF ASHVILLE' 'OAK HILL BANKS'
 'THE PEOPLES SAVINGS BANK' 'CNB BANK' 'VISION ONE CU' 'OSGOOD STATE BANK'
 'THREE RIVERS FCU' 'SUNTRUST BANK' 'COMPASS BANK' 'RIDGESTONE BANK'
 'THE OLD FORT BANKING COMPANY' 'FDIC/FIRST BANK NATIONAL, N.A.'
 'FNB FINAN SERVICES CORP' 'THE HICKSVILLE BANK'
 'BROOKVILLE BLDG & SAVINGS ASSO' 'FDIC/FIRST BANK NATIONAL'
 'STANDING STONE NATIONAL BANK' 'THE CITIZENS BANK'
 'CHAMPAIGN INVESTMENT COMPANY' 'EAST WEST BANK'
 'THE PEOPLES NATIONAL BANK' 'THE HENRY COUNTY BANK'
 'BUCKEYE STATE CU INC' 'CITIZENS BANK OF PENNSYLVANIA']

--- BankState ---
42
['RI' 'OH' 'IN' 'MN' 'DE' 'CA' 'IL' 'VA' 'KY' 'TX' 'FL' 'CT' 'SD' 'SC'
 'CO' 'OR' 'TN' 'PA' 'OK' 'NV' 'WV' nan 'UT' 'NY' 'KS' 'MI' 'NC' 'DC' 'NJ'
 'ME' 'WA' 'GA' 'MO' 'AZ' 'IA' 'MD' 'NE' 'ID' 'AL' 'WI' 'WY' 'NM']

--- ApprovalDate ---
5862
['1-Nov-05' '6-Jun-05' '18-Mar-03' ... '27-Dec-96' '11-Oct-12' '9-May-90']

--- ApprovalFY ---
43
[2006 2005 2003 1995 2009 2001 2000 1997 1994 1992 1999 1990 1991 2011
 2007 1998 2008 1996 1984 2012 1989 2004 2002 1993 2010 1986 1987 1982
 1985 2014 1979 1983 1988 1980 1981 2013 1976 1974 1977 1970 1972 1978
 1971]

--- NoEmp ---
191
[   2    0   11    1    7    4   60   50   18   16   17    8   25   14
   45   12    3   10    6   26   22   15    9    5   92   80   47   23
   42   70  125   29   30   28   20   13  112   35   38   41   36   21
   61   19   37   31   34   27   32   44   90  110   65   54   40   52
   56  200   59   64   48  560   51  165  120   33  450  105   95   62
   24  115   99   46 2500   73   72   82  131   85  100  268  103   66
  180  255   55  140   53   49   75  150   68   78  130  387   39  113
  312   58  170  106   93  126  114   87  109  122  187   76  128   43
  178   57  350  137   67   83  154  221   69  448   63  305  425  282
   84  220   74 2725  190  510  250  199  132   88  210  241  160  208
  189   79  118  188  480  195  116  155  240  104  171   71 4685   81
  127   77  235  225  123  307 7538   94  212  320  300  217  175  145
  265   97  400  135  161  197   96  495  141  147  222  257  201  230
  215  101  680   86 1150  500  290  202  117]

--- NewExist ---
4
[ 2.  1.  0. nan]

--- CreateJob ---
88
[   0    1    4    8    2    6   10    3   15   25    7    5   80   30
   12   35   20   11   39   36   32    9   14   56   13  150   33   29
   40   28   17  180   23   27   18   16   50  134   24   22   79   43
 8800   38  300   75  163   19   37   21   44   46  100   60   70   31
   45   34   55   63   47  116   95  189   90  110   65  140   26   72
   54   42   66   57 1118   64  120  450   59   41   77   99  195   48
  198   68  145  252]

--- RetainedJob ---
127
[   2    0   15   50   18   17    1   14    4   45    6    7   22   12
   25    3    9    5   11   80   32    8   10   24   28   13   30  100
   26   37   31   34   27   21   20   85  110   47   40   35   42  200
   23   78   70   48   52  115   16   46   62   82   38   36   60  131
   19  103  150   33 8800  387   57   58   29  126   93  160  128   54
   51   65   90   67   83  116  448   69  125  254   43   63   75   41
   55   68   44  140  101  189  108  195  180  105  120  166   53   56
   64   72  250  220  235   96   71  212  255   84  300  145   39   73
   95  400  109  320   74  197  375  136 1300  230  275   59   98  202
  117]

--- FranchiseCode ---
475
[    0     1 20359 91283 27765 17150 77875 68021 40650 69146 45150  2359
 21725 52000 56885 38605 79140  7990 35706 79153 39555 10528 76282  1560
  1350 73525 59560 10776 68150 34450 21420 68020 24850 50564 78760  1570
 39700 20550 85325 88355 63810  5650 26556 19755 50965 79902 65845 15713
 34650 51720 17998 38200 40700 84060   950 49952 30811 89750 43579  9130
 36745 23000  9709 53650 24902 67748 68250 29310 44070  6030 48260 34849
  6305 21780  9150 52900 33570 55960 50850 38510 81601 35711  9802 70405
 81630 25650 84535 64185 77174 60020  9250 20100 17205 52225  9708 10692
 75900  8200 44081 48400 51002 50930 50525 10200 35605 65925 55193 61901
 50530 67750 70670 60525 41439 74410 26650 74789 10648 66690 82040  9246
 17585 10569 61400 10611 36680 68100 67735 20725 32075 24027 47400 91350
 75355 10465 65150 45953 56925  9050 24419 82150 88904 70554 76710 75385
 63010 10461 17210 22470 29600 74750 80850 66345 20705 48450 64857 10481
 65953 88200 10720 10622 30233 67550 42580 40470 17920 35635 67720 63345
 25850 73000  3512 73675 31415 45915 18126 10474 44065 71675 42600 78650
 81612 39598 84560 89655 78950 10691 79950 55512  9810 20970 37469 17230
 35300 10581 72590 20122 61896 70128 65145 35629 58626 13680 63350 20966
 17524 50565 77020 14217 28877 21870 37481 90000 28239 16920 75982 76270
 32125 83430 54400 36204 67715 37051 20715 48550 44400 33560 15924 49200
 67759 60790 84025 59450 35600 50040 66347  3490 70150 17265 68060 48000
 88407 67417 70129 43552 52300  1495 90709 67197 62344 61897 45479 81598
 30505 33550 79148 22676 35705 33509 59225 53165 79120 62346 22678 66350
 10734 80370 44600 31154 29900  8010 37476 38850 29720 66320 10625  9230
 24050 80979 52875  6050 81800 52855 16033 46408 43783 53651 35713 65140
 54390 53160 20549 67255 51733 47406 70671  9147  4516 66910 45145 10729
 72215 55120 13853 10689 51570 18925 50954 91169  4416 34830 72600 21425
 10497 20108 74305  5649 37439 81555 55185 49975 84090 52079 56575 36560
 75432 29585 56800 10604 53250 85010 90815 32130 88425 37474 81603 24460
 36752 50538 54100 78329 41433 45970 67420 25440 43347 61401 50140 26871
   399 10731 87050 10643 38615 71670 68451 69995 83450 10764 65160 17900
 20487  9118 89785 10693 83882 44006 63815 57270 60753 70130 75710 38600
  2929  1499 39300 67170 60590  9200 52956 39590 89020  3500 61398 77037
  9234  9450  9750 46875 77890 91110 49820 35618 16314 80360 73900 55210
 74755 66486 33567 35626 88430 80374 69149   407  8015 34900 76760 82426
 67434 78754 34550  9800 44627 86724 89775 33750  4160 85029 56840 89630
 10535 91120 30227 68876 31150 35707  4760 69998 62751 62765 75365  5670
 21660 24420 36260 17583 92006 76750 17050 47756 43810 75000 74005 36480
 66615 52250 68030 10553 32195 25360 64651 66450 40665 32063 44066 13000
 46561 69134 35703 61900 51778 52707  1494 17646 56230 30210 84319 17990
 17460  1555 34654 75917 60567 10737 15125]

--- UrbanRural ---
3
[1 2 0]

--- RevLineCr ---
6
['N' 'Y' '0' 'T' nan '`']

--- LowDoc ---
8
['N' 'Y' nan 'A' '0' 'S' 'R' 'C']

--- DisbursementDate ---
1260
['31-Dec-05' '31-Jul-05' '31-Mar-03' ... '30-Mar-84' '12-Apr-96'
 '11-Oct-12']

--- DisbursementGross ---
7380
['$8,000.00 ' '$166,000.00 ' '$25,000.00 ' ... '$407,338.00 '
 '$200,160.00 ' '$311,800.00 ']

--- BalanceGross ---
3
['$0.00 ' '$9,111.00 ' '$996,262.00 ']

--- Accept ---
2
[1 0]

In [ ]:
for col in ['State', 'Bank', 'BankState', 'NewExist', 'UrbanRural', 'RevLineCr', 'LowDoc']:
    print(f"\nAceptación media por categoría en '{col}':")
    print(data.groupby(col)['Accept'].mean().sort_values(ascending=False))

📊 Aceptación media por categoría en 'State':
State
OH    0.832231
Name: Accept, dtype: float64

📊 Aceptación media por categoría en 'Bank':
Bank
KEY DIRECT, A BRANCH OF           1.0
PROGRESSIVE BANK NATL ASSOC       1.0
MANUFACTURERS & TRADERS TR CO     1.0
MENTOR ECONOMIC ASSISTANCE COR    1.0
MERCHANTS NATIONAL BANK           1.0
                                 ...
THE PEOPLES NATIONAL BANK         0.0
BANK SNB, NATIONAL ASSOCIATION    0.0
INEZ DEPOSIT BANK                 0.0
FDIC/FIRST BANK NATIONAL          0.0
KINGSTON NATIONAL BANK            0.0
Name: Accept, Length: 286, dtype: float64

📊 Aceptación media por categoría en 'BankState':
BankState
AL    1.000000
IA    1.000000
WI    1.000000
NM    1.000000
NE    1.000000
AZ    1.000000
ME    1.000000
KS    1.000000
ID    1.000000
WY    1.000000
GA    1.000000
IN    0.983740
TN    0.950000
KY    0.912281
NV    0.900000
PA    0.896825
MN    0.891892
MI    0.891304
OH    0.890555
DC    0.857143
IL    0.834962
WA    0.833333
TX    0.820755
WV    0.794118
NC    0.772727
UT    0.727273
SC    0.723077
RI    0.677976
SD    0.675439
NJ    0.666667
DE    0.613705
CT    0.576923
VA    0.553785
CA    0.508380
CO    0.500000
OK    0.500000
OR    0.500000
NY    0.500000
FL    0.454545
MO    0.333333
MD    0.000000
Name: Accept, dtype: float64

📊 Aceptación media por categoría en 'NewExist':
NewExist
0.0    0.916667
1.0    0.840193
2.0    0.813406
Name: Accept, dtype: float64

📊 Aceptación media por categoría en 'UrbanRural':
UrbanRural
0    0.928761
1    0.786393
2    0.779273
Name: Accept, dtype: float64

📊 Aceptación media por categoría en 'RevLineCr':
RevLineCr
`    1.000000
N    0.865978
0    0.856924
T    0.760456
Y    0.750612
Name: Accept, dtype: float64

📊 Aceptación media por categoría en 'LowDoc':
LowDoc
0    1.000000
C    1.000000
R    1.000000
Y    0.898513
N    0.822339
A    0.375000
S    0.200000
Name: Accept, dtype: float64

In [ ]:
# 1. Filtrar solo préstamos aprobados
aprobados = data[data['Accept'] == 1].copy()

print(f"Total préstamos aprobados: {len(aprobados)}")

# 2. Ver valores únicos por columna en el nuevo dataset
print("\nValores únicos por columna en préstamos aprobados:\n")
for col in aprobados.columns:
    print(f"\n--- {col} ---")
    unique = aprobados[col].unique()
    print(f'{len(unique)}')
    print(f'{unique}')

✅ Total préstamos aprobados: 19004

🔍 Valores únicos por columna en préstamos aprobados:


--- id ---
19004
['bd9d6267ec5' '9eebf6d8098' '83806858500' ... '798db2753a7' 'ddb3c5e9bff'
 '407200a5dfe']

--- LoanNr_ChkDgt ---
19004
[1523195006 1326365010 6179584001 ... 2011184008 4082983001 7783283010]

--- Name ---
17107
['P-SCAPE LAND DESIGN, LLC' 'The Fresh & Healthy Catering C'
 'AARON MASON & HOWE LLC' ... 'ENVIRO SHIELD POWER WASHING'
 'MAINLINE TRCK&TRAILR SRVC, INC' 'TIN BOX STUDIO']

--- City ---
1549
['NORTHFIELD' 'CANTON' 'SAWYERWOOD' ... 'Northfield Center' 'KITTS HILL'
 'East Canton']

--- State ---
1
['OH']

--- Bank ---
262
['CITIZENS BANK NATL ASSOC' 'FIRSTMERIT BANK, N.A.'
 'PNC BANK, NATIONAL ASSOCIATION' 'THE HUNTINGTON NATIONAL BANK'
 'STEARNS BK NATL ASSOC' 'NATL BK & TR CO' 'WACHOVIA SBA LENDING, INC.'
 'ACCESS BUS. DEVEL & FINANCE IN' 'KEYBANK NATIONAL ASSOCIATION'
 'JPMORGAN CHASE BANK NATL ASSOC' 'THE MERCHANTS BANK & TRUST CO.'
 'U.S. BANK NATIONAL ASSOCIATION' 'FIFTH THIRD BANK' 'CITIZENS BANK'
 'THE LORAIN NATIONAL BANK' 'LUCAS CNTY IMPROVEMENT CORP'
 'WESBANCO BANK, INC.' 'GE CAP. SMALL BUS. FINAN CORP'
 'OHIO STATEWIDE DEVEL CORP' 'UPS CAPITAL BUSINESS CREDIT'
 'CERTIFIED DEVEL CORP - WARREN' 'INDEPENDENCE BANK'
 'COMMUNITY CAP. DEVEL CORP' 'READYCAP LENDING, LLC'
 'CORTLAND SAVINGS & BK. CO.' 'CASCADE CAPITAL CORPORATION'
 'UNITED MIDWEST SAVINGS BANK' 'CIT. NATL BK OF BLUFFTON'
 'PEOPLES BANK NATL ASSOC' 'FIRST NATL BK IN NEW BREMEN'
 'THE PARK NATIONAL BANK' 'CAPITAL ONE NATL ASSOC'
 'WELLS FARGO BANK NATL ASSOC' 'THE CITIZENS BANKING COMPANY'
 'SEVEN SEVENTEEN CU INC' '1ST CIT. NATL BK OF UPPER SAN'
 'AURORA BANK FSB' '1ST NATIONAL COMMUNITY BANK'
 'HAMILTON CNTY DEVEL COMPANY IN' 'STARK DEVEL BOARD FINAN CORP'
 'GROWTH CAPITAL CORP.' 'CITYWIDE SMALL BUS. DEVEL CORP'
 'MAHONING VALLEY ECONOMIC DEVEL' 'MENTOR ECONOMIC ASSISTANCE COR'
 'FARMERS & MERCHANTS ST. BK' 'COMMUNITY SOUTH BANK'
 'COUNTY CORP DEVELOPMENT' 'FIRST FINAN BANK NATL ASSOC' 'HEARTLAND BANK'
 'LAKE NATIONAL BANK' 'FIRST KNOX NATL BANK A DIVISIO'
 'THE CITIZENS SAVINGS BANK' 'GENOA BANKING COMPANY'
 'BUSINESS LOAN CENTER, LLC' 'FIRST NATL BK OF PENNSYLVANIA'
 'PORTAGE COMMUNITY BANK' 'UNITY NATL BANK A DIVISION OF'
 'FIRST MERCHANTS BANK NATL ASSO' 'FIRST NATIONAL BANK'
 'FARMERS STATE BANK' 'COMM. & SAVINGS BK OF MILLERS' 'CENTERBANK'
 'SBA DENVER FINANCE CENTER' 'BANK OF AMERICA NATL ASSOC'
 'CONSUMERS NATIONAL BANK' 'HOME CITY FED. SAVINGS BK OF S'
 'THE OHIO VALLEY BANK COMPANY' 'RIVERHILLS BANK'
 'FAIRFIELD NATL BANK A DIVISION' nan 'AMER EXPRESS CENTURION BK'
 'FIRST FED. COMMUN BANK NATL AS' 'KEY DIRECT, A BRANCH OF'
 'FARMERS NATL BK OF CANFIELD' 'NORTH SIDE BANK & TRUST CO.'
 'SMALL BUS. LOAN SOURCE LLC' 'BANCO POPULAR NORTH AMERICA'
 'WAKARUSA VALLEY DEVELOPMENT IN' 'GREENE CNTY DEVEL CORP'
 'CINCINNATI LOCAL DEVEL CO' 'UNITED FIDELITY BANK, FSB'
 'CENTURY NATL BANK A DIVISION O' 'WEST VIRGINIA CERT. DEVEL CORP'
 'MINSTER BANK' 'RICHLAND TRUST, A DIVISION OF'
 'SUPERIOR FINANCIAL GROUP, LLC' 'WESTFIELD BANK, FSB'
 'HOME SAVINGS & LOAN CO OF YOU' 'CLARK CNTY DEVEL CORP'
 'TALMER BANK AND TRUST' 'PROGRESSIVE BANK NATL ASSOC'
 'TD BANK, NATIONAL ASSOCIATION' 'URBAN PARTNERSHIP BANK'
 'FIRST COMMUNITY BANK' 'OHIO SAVINGS BANK A DIVISION O'
 'DOLLAR BANK A FED. SAVINGS BK' 'MIDDLEFIELD BK. CO'
 'NEW CARLISLE FED. SAVINGS BK' 'NORTHWEST OHIO DEVEL ASSISTANC'
 'AMERICAN SAVINGS BANK, FSB' 'LOANS FROM OLD CLOSED LENDERS'
 'LAKE CNTY SMALL BUS. CORP' 'SCIOTO ECONOMIC DEVELOPMENT'
 'BRANCH BK. & TR CO' 'THE BANK OF KENTUCKY, INC'
 'FIRST FED. BK OF MIDWEST' 'GEAUGA SAVINGS BANK'
 'LIBERTY BANK NATL ASSOC' 'WEST CENTRAL PARTNERSHIP, INC.' 'SUPERIOR FCU'
 'PROVIDENT COMM. GROUP INC.' 'BBCN BANK' 'LOUISA COMMUNITY BANK'
 'UNIFORM REGION NINE CERTIFIED' '1ST NATL BK OF GERMANTOWN'
 'KEY COMMUNITY BANK' 'PORTAGEBANC SHARES, INC' 'ASHTABULA CNTY 503 CORP'
 'UNITY BANK' 'TELHIO CU INC' 'UNITED BANK, A DIVISION OF'
 'LIVE OAK BANKING COMPANY' 'BUCKEYE COMMUNITY BANK' 'UNITED BANK'
 'SPIRIT OF TEXAS BANK, SSB' 'THE UNION BANK COMPANY' 'INNOVATIVE BANK'
 'AKRON SMALL BUSINESS' 'THE COMMERCIAL SAVINGS BANK' 'UMPQUA BANK'
 'NATL REP. BK OF CHICAGO' 'DELAWARE CNTY BK & TR CO'
 'THE CROGHAN COLONIAL BANK' 'ST. BK & TR CO' 'WILLIAMSTOWN BANK, INC.'
 'COMERICA BANK' 'FIRST-CITIZENS BK & TR CO'
 'MUTUAL FED. SAVINGS BANK A FED' 'FIRST WESTERN SBLC, INC'
 'PROVIDENT INVEST ADVISERS INC' 'BUSINESS LENDERS, LLC'
 'FIRST SENTRY BANK, INC.' 'TEXTRON FINANCIAL CORP'
 'KENNEBUNK SAVINGS BANK' 'CITY NATL BK OF W. VIRGINIA'
 'NEWTEK SMALL BUS. FINANCE INC.' 'SECURITY NATL BANK A DIVISION'
 'ANDOVER BANK' 'COMMUNITY FIRST BANK, N.A.' 'LCNB NATIONAL BANK' 'CFBANK'
 'SPRING VALLEY BANK' 'SECOND NATL BANK A DIVISION OF'
 'HOME NATIONAL BANK' 'HORIZON BANK NATL ASSOC' 'THE FARMERS STATE BANK'
 'CHEVIOT SAVINGS BANK' '1ST NATL BK OF DENNISON' 'OLD NATIONAL BANK'
 'CITIZENS DEPOSIT BANK & TRUST' 'AMER BUS. LENDING INC.' 'VENTURE BANK'
 'OHIO STATE BANK, THE' 'CELTIC BANK CORPORATION'
 'LIBERTY SAVINGS BANK, F.S.B.' 'VINTON CNTY NATL BK'
 'MERCHANTS NATIONAL BANK' 'THE CITIZENS BANK OF LOGAN'
 'THE COMMUNITY BANK' 'ZIONS FIRST NATIONAL BANK' 'DAY AIR CU INC'
 'SUTTON BANK' 'MAIN STREET BANK CORP.' 'COMMUNITY BANK OF PARKERSBURG'
 'CLEVELAND CITYWIDE DEVELOPMENT' 'LIBERTY NATIONAL BANK'
 'MANUFACTURERS & TRADERS TR CO' 'AG CR. AGRICULTURAL CR. ASSOC'
 'FIRST & PEOPLES BK & TR CO' 'WILMINGTON BUS. DEVEL' 'THE BANCORP BANK'
 'FIRST FINANCIAL BANCORP' 'FARMERS & MERCHANTS BANK'
 'CALIFORNIA BANK & TRUST' 'COMERICA BK & TRUST NATL ASSOC'
 'CITIZENS BANK COMPANY' 'COMMONWEALTH SMALL BUS. DEVEL'
 'FRANKLIN S & L CO' 'GENERAL ELECTRIC CU' 'SYNOVUS BANK'
 'GROW AMERICA FUND INC' 'WAYNE SAVINGS COMMUNITY BANK' 'HOMETOWN BANK'
 'WAYNE BANK AND TRUST CO.' 'BNY MELLON NATL ASSOC'
 'AMERICAN ENTERPRISE BANK' 'WATERFORD BANK NATL ASSOC'
 'HOME LOAN INVEST BANK F.S.B.' 'NATL CONSUMER COOPERATIVE BK'
 'FIRSTMERIT COMMUN DEVEL CORP' 'NATL BK OF INDIANAPOLIS'
 'FIRST FED. S & L ASSOC OF LAKE' 'BANK OF THE WEST'
 'THE MILTON BANKING CO.' 'FIRST AMERICAN BANK'
 'FIRST NATL CINCINNATI CORP' 'CITIZENS NATL BANK A DIVISION'
 'THE MONITOR BANK' 'REPUBLIC BANK & TRUST COMPANY'
 'PARK NATL BK - S.W. OHIO & NOR' 'FIFTH THIRD BANCORP'
 'NORTHWEST BANK & TRUST COMPANY' 'FIRST NATL BK OF MCCONNELSVILL'
 'SHOREBANK CLEVELAND CORP' 'COMMUNITY TRUST BANK, INC.'
 'OHIO UNIVERSITY CU INC' 'COMMODORE BANK' 'STAR FINANCIAL BANK'
 'LCNB CORP' 'WRIGHT PATT CU INC' 'PNC FINAN SERVICES GROUP INC.'
 'THE SAVINGS BANK' 'FIRST CENTRAL NATIONAL BANK'
 'FIRST NATIONAL BANK OF OMAHA' 'CINCO FAMILY FINAN CENTER CU I'
 'UNITED CENTRAL BANK' 'NCB, FSB' 'ROCKHOLD BROWN & CO BK'
 'AURGROUP FINANCIAL CU' 'MAINSOURCE BANK' 'FORT JENNINGS STATE BANK'
 'PIONEER COUNTRY DEVELOPMENT IN' 'VERD-ARK-CA DEVEL CORP'
 'OLD NATIONAL TRUST COMPANY' 'FIRST COMMONWEALTH BANK'
 'COLUMBUS FIRST BANK' 'HERITAGE BANK, INC' 'CARDINAL BANK'
 'TEXTRON BUSINESS CREDIT, INC.' 'FIRST BANK OF OHIO' 'OAK HILL BANKS'
 'BANK OF MAUMEE' 'THE PEOPLES SAVINGS BANK' 'CNB BANK'
 'CERTUSBANK NATL ASSOC' 'VISION ONE CU' 'OSGOOD STATE BANK'
 'THREE RIVERS FCU' 'FARMERS & SAVINGS BANK A DIVIS' 'SUNTRUST BANK'
 'COMPASS BANK' 'RIDGESTONE BANK' 'THE OLD FORT BANKING COMPANY'
 'FIRST BANK' 'THE HICKSVILLE BANK' 'BROOKVILLE BLDG & SAVINGS ASSO'
 'STANDING STONE NATIONAL BANK' 'THE CITIZENS BANK'
 'CHAMPAIGN INVESTMENT COMPANY' 'FAITH COMMUNITY UNITED CU INC.'
 'THE HENRY COUNTY BANK' 'CITIZENS BANK OF PENNSYLVANIA']

--- BankState ---
41
['RI' 'OH' 'IN' 'MN' 'DE' 'CA' 'IL' 'KY' 'TX' 'CT' 'VA' 'SD' 'CO' 'TN'
 'FL' 'PA' 'NV' 'OR' nan 'UT' 'NY' 'KS' 'WV' 'MI' 'DC' 'NC' 'NJ' 'SC' 'ME'
 'WA' 'GA' 'AZ' 'IA' 'NE' 'ID' 'OK' 'AL' 'WI' 'MO' 'WY' 'NM']

--- ApprovalDate ---
5635
['1-Nov-05' '6-Jun-05' '18-Mar-03' ... '11-Oct-12' '23-Sep-08' '9-May-90']

--- ApprovalFY ---
36
[2006 2005 2003 1995 2001 2000 1997 1994 1992 1999 1990 1991 2009 2011
 2007 1998 1996 2008 2012 1989 2002 1993 2004 1984 2010 1986 1982 1985
 2014 1983 1987 1988 2013 1976 1974 1981]

--- NoEmp ---
190
[   2   11    1    7    4   60   50   18   16   17    8   25   14    0
   45   12    3   10    6   26   15    9   92   80   47   23   42   70
    5  125   22   29   30   28   20   13  112   35   38   41   36   21
   61   19   34   27   32   44   90  110   65   54   40   52   31   37
   56  200   59   64   48  560   51  165  120   33  450  105   95   62
   24  115   99   46 2500   73   72   82  131  100  268  103   66  180
  255   55  140   53   85   49   75  150   68  130  387  113  312   58
  170  106   93  126   39  114   87  109  122  187   76  128   43  178
   57  350  137   67   83  154  221   69  448   63  305  425  282   84
  220   74 2725  190  510  250  199  132   88  210   78  241  160  208
  189   79  118  188  480  195  116  155  240  104  171   71 4685   81
  127   77  235  225  123  307 7538   94  212  320  300  217  175  145
  265   97  135  161  197   96  495  141  147  222  257  201  230  215
  101  680   86 1150  500  290  202  117]

--- NewExist ---
4
[ 2.  1.  0. nan]

--- CreateJob ---
85
[   0    1    4    8    2    6   10   15   25    7   80    3    5   30
   12   35   20   11   39   36    9   14   56   13  150   33   29   40
   28   17  180   23   27   18   16   50  134   24   22   79 8800  300
   75  163   19   37   21   44   46  100   60   32   38   70   31   45
   34   55   63   47  116   95  189   90  110   65   26   54   42   43
   66   57 1118   64  120   59   41   77   99  195   48  198   68  145
  252]

--- RetainedJob ---
123
[   2    0   15   50   18   17    1   14    4   45   12    3    9   11
   80   32   10    6   24    8   22   28   13    5   30  100   26   25
   34   27   21   20   85  110   47   40    7   35   31   42  200   23
   78   70   48   52  115   16   46   62   82   38   36  131  103  150
   37 8800  387   19   57   58   29  126   93  160   60  128   54   51
   90   67   65   83  116  448   69  125   33  254   43   63   75   41
   55   68   44  140  189  108  195  180  105  120  166   53   56   64
  250  235   96   71  212  255   84  300  145   73   95  109   72  320
   74  197  375  136 1300  230  275   59   98  202  117]

--- FranchiseCode ---
422
[    0     1 20359 91283 27765 17150 77875 68021 40650 69146 45150  2359
 21725 52000 38605 79140  7990 35706 39555 10528 76282  1560 73525 10776
 68150 34450 68020 24850 50564 78760  1570 39700 20550 85325 88355 63810
  5650 26556 50965 79902 65845 15713 34650 51720 21420 40700   950 49952
 30811 89750 43579 17998  1350  9130 36745 23000  9709 53650 24902 67748
 68250 44070  6030 34849 21780  9150 33570 55960 50850 38510 81601 35711
  9802 70405 84535 64185 77174  9250 20100 52225  9708 84060 10692 75900
  8200 48400 25650 51002 50930 50525 10200 65925 55193 61901 50530 67750
 70670 60525 41439 35605 74410 26650 74789 10648 66690 82040 19755  9246
 17585 10569 61400 10611 36680 67735 20725 32075 24027 47400 48260 91350
 75355 10465 65150 45953 56925  9050 24419 82150 88904 76710 75385 63010
 10461 17210 29600 74750 80850 66345 20705 48450 64857 88200 10720 10622
 30233 67550 42580 40470 17920 67720 63345 25850 73000  3512 73675 31415
 45915 18126 10474 44065 71675 42600 78650 81612 84560 89655 78950 10691
 79950 55512 20970 37469 35300 10581 72590 61896 70128 65145 35629 13680
 63350 20966 17524 50565 77020 14217 21870 37481 90000 22470 28239 16920
 75982 76270 32125 83430 54400 67715 37051 20715 48550 44400 33560 15924
 49200 67759 84025 17205 59450 35600  3490 50040 35635 70150 17265 48000
 88407 67417 43552 68060 52300 36204 90709 67197 62344 61897 45479 81598
 30505 33550 79148 22676 35705 53165 79120 62346 22678 66350 10734 80370
 31154  8010 38850 29720 66320 10625  9230 24050 80979 52875  6050 81800
 52855 16033 43783 53651 35713 65140 53160 20549 67255 51733 47406  4516
 66910 45145 72215 39598 55120 13853 10689 51570 18925 91169 34830 72600
 21425 10497 20108 74305  5649 37439 81555 55185 49975 84090 52079 36560
 75432 29585 56800 10604 53250 85010 70554 90815 32130 88425 24460 36752
 41433 67420 25440 43347 61401 50140 26871   399 10731 20122 87050 38615
 68451 83450 10764 65160 17900 20487  9118 89785 10693 83882 44006 63815
 57270 60753 75710 38600  2929  1499 67170 60590  9200 52956 39590 89020
  3500 61398 77037  9234  9450  9750 46875 91110 49820 35618 16314 80360
 73900 55210 74755 66486 33567 35626 88430 69149   407  8015 34900 76760
 82426 67434 78754 50954 34550  9800 44627 86724  4160 85029 56840 91120
 30227 68876 31150 35707  4760 69998 62751 62765 75365  5670 21660 24420
 36260 17583 92006 76750 17050 10643 43810 75000 74005 36480 66615 56885
 52250 68030 10553 25360 64651 66450 40665 32063 13000 46561 69134 35703
 61900 51778 52707  1494 17646 30210 17990 17460  1555 75917 34654 60567
 10737 15125]

--- UrbanRural ---
3
[1 2 0]

--- RevLineCr ---
6
['N' 'Y' '0' 'T' nan '`']

--- LowDoc ---
8
['N' 'Y' nan '0' 'A' 'R' 'C' 'S']

--- DisbursementDate ---
1079
['31-Dec-05' '31-Jul-05' '31-Mar-03' ... '16-Jun-11' '12-Apr-96'
 '11-Oct-12']

--- DisbursementGross ---
5868
['$8,000.00 ' '$166,000.00 ' '$25,000.00 ' ... '$407,338.00 '
 '$200,160.00 ' '$311,800.00 ']

--- BalanceGross ---
3
['$0.00 ' '$9,111.00 ' '$996,262.00 ']

--- Accept ---
1
[1]

In [ ]:
def parse_currency(value):
    if pd.isna(value):
        return None
    return float(str(value).replace('$', '').replace(',', ''))
data.head()
data['DisbursementGross'] = data['DisbursementGross'].apply(parse_currency)
data.head()

,id,LoanNr_ChkDgt,Name,City,State,Bank,BankState,ApprovalDate,ApprovalFY,NoEmp,...,CreateJob,RetainedJob,FranchiseCode,UrbanRural,RevLineCr,LowDoc,DisbursementDate,DisbursementGross,BalanceGross,Accept
0,bd9d6267ec5,1523195006,"P-SCAPE LAND DESIGN, LLC",NORTHFIELD,OH,CITIZENS BANK NATL ASSOC,RI,1-Nov-05,2006,2,...,0,2,0,1,N,N,31-Dec-05,8000.0,$0.00,1
1,9eebf6d8098,1326365010,The Fresh & Healthy Catering C,CANTON,OH,"FIRSTMERIT BANK, N.A.",OH,6-Jun-05,2005,2,...,1,2,1,1,N,N,31-Jul-05,166000.0,$0.00,1
2,83806858500,6179584001,AARON MASON & HOWE LLC,SAWYERWOOD,OH,"PNC BANK, NATIONAL ASSOCIATION",OH,18-Mar-03,2003,2,...,4,2,1,2,Y,N,31-Mar-03,25000.0,$0.00,1
3,a21ab9cb3af,8463493009,MID OHIO CAR WASH,COLUMBUS,OH,THE HUNTINGTON NATIONAL BANK,OH,28-Jun-95,1995,2,...,0,0,1,0,N,N,31-Jan-96,220100.0,$0.00,1
4,883b5e5385e,3382225007,Bake N Brew LLC,Newark,OH,THE HUNTINGTON NATIONAL BANK,OH,16-Apr-09,2009,0,...,0,0,0,1,N,N,31-May-09,25000.0,$0.00,0

In [ ]:
data['ApprovalDate'] = pd.to_datetime(data['ApprovalDate'], errors='coerce')
data['DisbursementDate'] = pd.to_datetime(data['DisbursementDate'], errors='coerce')
data['FranchiseCode'] = data['FranchiseCode'].astype(str)
data['UrbanRural'] = data['UrbanRural'].astype(str)
data['NewExist'] = data['NewExist'].astype(str)
data['ApprovalFY'] = data['ApprovalFY'].astype(str)

print("Nulos por columna tras limpieza inicial:")
print(data.isnull().sum())

# 7. Visualizar tipos de datos actuales
print("\nTipos de datos tras conversión:")
print(data.dtypes)

📌 Nulos por columna tras limpieza inicial:
id                    0
LoanNr_ChkDgt         0
Name                  1
City                  1
State                 0
Bank                 22
BankState            22
ApprovalDate          0
ApprovalFY            0
NoEmp                 0
NewExist              0
CreateJob             0
RetainedJob           0
FranchiseCode         0
UrbanRural            0
RevLineCr            91
LowDoc               43
DisbursementDate     61
DisbursementGross     0
BalanceGross          0
Accept                0
dtype: int64

🧾 Tipos de datos tras conversión:
id                           object
LoanNr_ChkDgt                 int64
Name                         object
City                         object
State                        object
Bank                         object
BankState                    object
ApprovalDate         datetime64[ns]
ApprovalFY                   object
NoEmp                         int64
NewExist                     object
CreateJob                     int64
RetainedJob                   int64
FranchiseCode                object
UrbanRural                   object
RevLineCr                    object
LowDoc                       object
DisbursementDate     datetime64[ns]
DisbursementGross           float64
BalanceGross                 object
Accept                        int64
dtype: object

In [ ]:
data['RevLineCr'] = data['RevLineCr'].replace({
    '0': 'N',
    'T': 'Y',
    '`': 'NA'  # o np.nan si prefieres imputar después
})
data['RevLineCr'] = data['RevLineCr'].fillna('NA')

In [ ]:
print(data['RevLineCr'].unique())

['N' 'Y' 'NA']

In [ ]:
print(data['RevLineCr'].value_counts(dropna=False))

RevLineCr
N     16353
Y      6390
NA       92
Name: count, dtype: int64

In [ ]:
# Limpiar valores incorrectos en LowDoc
data['LowDoc'] = data['LowDoc'].replace({
    '0': 'N',
    'A': 'NA',
    'S': 'NA',
    'R': 'NA',
    'C': 'NA'
})

# Rellenar los NaN restantes con 'NA'
data['LowDoc'] = data['LowDoc'].fillna('NA')

# Confirmar limpieza
print("\nValores únicos en LowDoc después de limpiar:")
print(data['LowDoc'].unique())

✅ Valores únicos en LowDoc después de limpiar:
['N' 'Y' 'NA']

In [ ]:
print(data['LowDoc'].value_counts(dropna=False))

LowDoc
N     19681
Y      3094
NA       60
Name: count, dtype: int64

In [ ]:
data['NewExist'] = data['NewExist'].replace({
    '0.0': 'NA',
    'nan': 'NA' 
})
# Confirmar limpieza
print("\n Valores únicos en NewExist después de limpiar:")
print(data['NewExist'].unique())

 Valores únicos en NewExist después de limpiar:
['2.0' '1.0' 'NA']

In [ ]:
print(data['UrbanRural'].value_counts(dropna=False))

UrbanRural
1    11582
0     7538
2     3715
Name: count, dtype: int64

In [ ]:
data['IsFranchise'] = data['FranchiseCode'].apply(lambda x: 'No' if x in ['0', '1'] else 'Sí')

In [ ]:
print(data['IsFranchise'].value_counts(dropna=False))

IsFranchise
No    21267
Sí     1568
Name: count, dtype: int64

In [ ]:
print("Estadísticas de columnas numéricas:")
print(data[['NoEmp', 'CreateJob', 'RetainedJob', 'DisbursementGross']].describe())

📊 Estadísticas de columnas numéricas:
              NoEmp     CreateJob   RetainedJob  DisbursementGross
count  22835.000000  22835.000000  22835.000000       2.283500e+04
mean      12.368995     18.479571     20.960981       1.693213e+05
std       68.142670    377.130205    377.219172       2.491081e+05
min        0.000000      0.000000      0.000000       0.000000e+00
25%        2.000000      0.000000      0.000000       4.000000e+04
50%        5.000000      0.000000      0.000000       8.750000e+04
75%       12.000000      2.000000      4.000000       1.891895e+05
max     7538.000000   8800.000000   8800.000000       4.831510e+06

In [ ]:
print(" Total de préstamos con 0 empleados:")
print((data['NoEmp'] == 0).sum())

# ¿Cuál es su proporción de aprobación?
print("\nTasa de aprobación para empresas con 0 empleados:")
print(data[data['NoEmp'] == 0]['Accept'].mean())

🔍 Total de préstamos con 0 empleados:
994

📈 Tasa de aprobación para empresas con 0 empleados:
0.8078470824949698

In [ ]:
print(" VALORES ÚNICOS POR COLUMNA:")
for col in data.columns:
    print(f"\n--- {col} ---")
    unique = data[col].unique()
    print(f'{len(unique)}')
    print(f'{unique}')

📌 VALORES ÚNICOS POR COLUMNA:

--- id ---
22835
['bd9d6267ec5' '9eebf6d8098' '83806858500' ... 'ddb3c5e9bff' '407200a5dfe'
 'eaa66193392']

--- LoanNr_ChkDgt ---
22835
[1523195006 1326365010 6179584001 ... 4082983001 7783283010 1513375008]

--- Name ---
20443
['P-SCAPE LAND DESIGN, LLC' 'The Fresh & Healthy Catering C'
 'AARON MASON & HOWE LLC' ... 'MAINLINE TRCK&TRAILR SRVC, INC'
 'TIN BOX STUDIO' 'Lowex, Inc.']

--- City ---
1679
['NORTHFIELD' 'CANTON' 'SAWYERWOOD' ... 'CASTALIA' 'KITTS HILL'
 'East Canton']

--- State ---
1
['OH']

--- Bank ---
287
['CITIZENS BANK NATL ASSOC' 'FIRSTMERIT BANK, N.A.'
 'PNC BANK, NATIONAL ASSOCIATION' 'THE HUNTINGTON NATIONAL BANK'
 'STEARNS BK NATL ASSOC' 'NATL BK & TR CO' 'WACHOVIA SBA LENDING, INC.'
 'THE CITIZENS SAVINGS BANK' 'ACCESS BUS. DEVEL & FINANCE IN'
 'KEYBANK NATIONAL ASSOCIATION' 'JPMORGAN CHASE BANK NATL ASSOC'
 'THE MERCHANTS BANK & TRUST CO.' 'U.S. BANK NATIONAL ASSOCIATION'
 'FIFTH THIRD BANK' 'CITIZENS BANK' 'CAPITAL ONE NATL ASSOC'
 'THE LORAIN NATIONAL BANK' 'LUCAS CNTY IMPROVEMENT CORP'
 'CALIFORNIA BANK & TRUST' 'WESBANCO BANK, INC.'
 'GE CAP. SMALL BUS. FINAN CORP' 'OHIO STATEWIDE DEVEL CORP'
 'BUSINESS LOAN CENTER, LLC' 'UPS CAPITAL BUSINESS CREDIT'
 '1ST CIT. NATL BK OF UPPER SAN' 'CERTIFIED DEVEL CORP - WARREN'
 'INDEPENDENCE BANK' 'COMMUNITY CAP. DEVEL CORP' 'READYCAP LENDING, LLC'
 'CORTLAND SAVINGS & BK. CO.' 'CASCADE CAPITAL CORPORATION'
 'UNITED MIDWEST SAVINGS BANK' 'CIT. NATL BK OF BLUFFTON'
 'PEOPLES BANK NATL ASSOC' 'FIRST NATL BK IN NEW BREMEN'
 'THE PARK NATIONAL BANK' 'WELLS FARGO BANK NATL ASSOC'
 'THE CITIZENS BANKING COMPANY' 'SEVEN SEVENTEEN CU INC' 'AURORA BANK FSB'
 '1ST NATIONAL COMMUNITY BANK' 'UMPQUA BANK'
 'HAMILTON CNTY DEVEL COMPANY IN' 'STARK DEVEL BOARD FINAN CORP'
 'GROWTH CAPITAL CORP.' 'CITYWIDE SMALL BUS. DEVEL CORP'
 'MAHONING VALLEY ECONOMIC DEVEL' 'MENTOR ECONOMIC ASSISTANCE COR'
 'FARMERS & MERCHANTS ST. BK' 'COMMUNITY SOUTH BANK'
 'LIBERTY SAVINGS BANK, F.S.B.' 'COUNTY CORP DEVELOPMENT'
 'FIRST FINAN BANK NATL ASSOC' 'HEARTLAND BANK' 'BBCN BANK'
 'LAKE NATIONAL BANK' 'FIRST KNOX NATL BANK A DIVISIO'
 'GENOA BANKING COMPANY' 'FIRST NATL BK OF PENNSYLVANIA'
 'BANK SNB, NATIONAL ASSOCIATION' 'PORTAGE COMMUNITY BANK'
 'UNITY NATL BANK A DIVISION OF' 'FIRST MERCHANTS BANK NATL ASSO'
 'FIRST NATIONAL BANK' 'FARMERS STATE BANK'
 'SUPERIOR FINANCIAL GROUP, LLC' 'COMM. & SAVINGS BK OF MILLERS'
 'CENTERBANK' 'SBA DENVER FINANCE CENTER' 'BANK OF AMERICA NATL ASSOC'
 'CONSUMERS NATIONAL BANK' 'HOME CITY FED. SAVINGS BK OF S'
 'THE OHIO VALLEY BANK COMPANY' 'RIVERHILLS BANK' 'HOME NATIONAL BANK'
 'FAIRFIELD NATL BANK A DIVISION' nan 'AMER EXPRESS CENTURION BK'
 'FIRST FED. COMMUN BANK NATL AS' 'KEY DIRECT, A BRANCH OF'
 'FARMERS NATL BK OF CANFIELD' 'NORTH SIDE BANK & TRUST CO.'
 'SMALL BUS. LOAN SOURCE LLC' 'BANK OF MAUMEE'
 'BANCO POPULAR NORTH AMERICA' 'WAKARUSA VALLEY DEVELOPMENT IN'
 'CITY NATL BK OF W. VIRGINIA' 'GREENE CNTY DEVEL CORP'
 'CINCINNATI LOCAL DEVEL CO' 'UNITED FIDELITY BANK, FSB'
 'CENTURY NATL BANK A DIVISION O' 'WEST VIRGINIA CERT. DEVEL CORP'
 'MINSTER BANK' 'RICHLAND TRUST, A DIVISION OF' 'WESTFIELD BANK, FSB'
 'FIRST-CITIZENS BK & TR CO' 'HOME SAVINGS & LOAN CO OF YOU'
 'CLARK CNTY DEVEL CORP' 'TALMER BANK AND TRUST'
 'PROGRESSIVE BANK NATL ASSOC' 'BRANCH BK. & TR CO'
 'TD BANK, NATIONAL ASSOCIATION' 'URBAN PARTNERSHIP BANK'
 'FIRST COMMUNITY BANK' 'OHIO SAVINGS BANK A DIVISION O'
 'FIRST FED. BK OF MIDWEST' 'DOLLAR BANK A FED. SAVINGS BK'
 'MIDDLEFIELD BK. CO' 'NEW CARLISLE FED. SAVINGS BK'
 'NORTHWEST OHIO DEVEL ASSISTANC' 'AMERICAN SAVINGS BANK, FSB'
 'LOANS FROM OLD CLOSED LENDERS' 'VINTON CNTY NATL BK'
 'LAKE CNTY SMALL BUS. CORP' 'DAY AIR CU INC' 'KEY COMMUNITY BANK'
 'SCIOTO ECONOMIC DEVELOPMENT' 'THE BANK OF KENTUCKY, INC'
 'GENERAL ELECTRIC CU' 'GEAUGA SAVINGS BANK' 'LIBERTY BANK NATL ASSOC'
 'WEST CENTRAL PARTNERSHIP, INC.' 'SUPERIOR FCU'
 'PROVIDENT COMM. GROUP INC.' 'LOUISA COMMUNITY BANK'
 'UNIFORM REGION NINE CERTIFIED' '1ST NATL BK OF GERMANTOWN'
 'BUCKEYE COMMUNITY BANK' 'PORTAGEBANC SHARES, INC'
 'ASHTABULA CNTY 503 CORP' 'UNITY BANK' 'THE CITIZENS BANK OF LOGAN'
 'TELHIO CU INC' 'UNITED BANK, A DIVISION OF' 'LIVE OAK BANKING COMPANY'
 'UNITED BANK' 'SPIRIT OF TEXAS BANK, SSB' 'THE UNION BANK COMPANY'
 'COMERICA BANK' 'INNOVATIVE BANK' 'AKRON SMALL BUSINESS'
 'THE COMMERCIAL SAVINGS BANK' 'THE COMMUNITY BANK'
 'NATL REP. BK OF CHICAGO' 'DELAWARE CNTY BK & TR CO'
 'THE CROGHAN COLONIAL BANK' 'ST. BK & TR CO' 'WILLIAMSTOWN BANK, INC.'
 'MUTUAL FED. SAVINGS BANK A FED' 'FIRST WESTERN SBLC, INC'
 'FIRST SENTRY BANK, INC.' 'PROVIDENT INVEST ADVISERS INC'
 'BUSINESS LENDERS, LLC' 'TEXTRON FINANCIAL CORP'
 'SECURITY NATL BANK A DIVISION' 'CAPITAL ONE BK (USA) NATL ASSO'
 'KINGSTON NATIONAL BANK' 'KENNEBUNK SAVINGS BANK'
 'NEWTEK SMALL BUS. FINANCE INC.' 'THE FAHEY BANKING COMPANY'
 'ANDOVER BANK' 'COMMUNITY FIRST BANK, N.A.' 'LCNB NATIONAL BANK' 'CFBANK'
 'SPRING VALLEY BANK' 'SECOND NATL BANK A DIVISION OF'
 'HORIZON BANK NATL ASSOC' 'THE FARMERS STATE BANK' 'CHEVIOT SAVINGS BANK'
 '1ST NATL BK OF DENNISON' 'OLD NATIONAL BANK' 'BANK OF THE WEST'
 'CITIZENS DEPOSIT BANK & TRUST' 'AMER BUS. LENDING INC.' 'VENTURE BANK'
 'OHIO STATE BANK, THE' 'CELTIC BANK CORPORATION' 'RIVER VALLEY CU'
 'GERMAN AMER BANCORP D/B/A GERM' 'MERCHANTS NATIONAL BANK'
 'ZIONS FIRST NATIONAL BANK' 'SUTTON BANK' 'MAIN STREET BANK CORP.'
 'COMMUNITY BANK OF PARKERSBURG' 'CLEVELAND CITYWIDE DEVELOPMENT'
 'LIBERTY NATIONAL BANK' 'FIRST FEDERAL BANK OF OHIO'
 'MANUFACTURERS & TRADERS TR CO' 'APPLE CREEK BK. CO' 'NORTH VALLEY BANK'
 'AG CR. AGRICULTURAL CR. ASSOC' 'FIRST & PEOPLES BK & TR CO'
 'WILMINGTON BUS. DEVEL' 'THE BANCORP BANK' 'FIRST FINANCIAL BANCORP'
 'FARMERS & MERCHANTS BANK' 'COMERICA BK & TRUST NATL ASSOC'
 'CITIZENS BANK COMPANY' 'FARMERS & SAVINGS BANK A DIVIS'
 'COMMONWEALTH SMALL BUS. DEVEL' 'FRANKLIN S & L CO' 'SYNOVUS BANK'
 'FIRST BANK' 'THE MILTON BANKING CO.' 'GROW AMERICA FUND INC'
 'WAYNE SAVINGS COMMUNITY BANK' 'CERTUSBANK NATL ASSOC' 'HOMETOWN BANK'
 'WAYNE BANK AND TRUST CO.' 'INEZ DEPOSIT BANK' 'BNY MELLON NATL ASSOC'
 'AMERICAN ENTERPRISE BANK' 'COMMUNITY W. BANK NATL ASSOC'
 'WATERFORD BANK NATL ASSOC' 'HOME LOAN INVEST BANK F.S.B.'
 'NATL CONSUMER COOPERATIVE BK' 'FIRSTMERIT COMMUN DEVEL CORP'
 'NATL BK OF INDIANAPOLIS' 'FIRST FED. S & L ASSOC OF LAKE'
 'THE HOCKING VALLEY BANK' 'THE KILLBUCK SAVINGS BANK CO.'
 'FAITH COMMUNITY UNITED CU INC.' 'COMM. CR. FINAN CORP'
 'FIRST AMERICAN BANK' 'FIRST NATL CINCINNATI CORP'
 'CITIZENS NATL BANK A DIVISION' 'THE MONITOR BANK'
 'REPUBLIC BANK & TRUST COMPANY' 'PARK NATL BK - S.W. OHIO & NOR'
 'FIFTH THIRD BANCORP' 'NCB, FSB' 'NORTHWEST BANK & TRUST COMPANY'
 'FIRST COMMONWEALTH BANK' 'FIRST NATL BK OF MCCONNELSVILL'
 'SHOREBANK CLEVELAND CORP' 'COMMUNITY TRUST BANK, INC.'
 'OHIO UNIVERSITY CU INC' 'COMMODORE BANK' 'STAR FINANCIAL BANK'
 'KEMBA FINANCIAL CU' 'LCNB CORP' 'MERRILL LYNCH BANK USA'
 'WRIGHT PATT CU INC' 'PNC FINAN SERVICES GROUP INC.' 'THE SAVINGS BANK'
 'FIRST CENTRAL NATIONAL BANK' 'FIRST NATIONAL BANK OF OMAHA'
 'CINCO FAMILY FINAN CENTER CU I' 'UNITED CENTRAL BANK'
 'ROCKHOLD BROWN & CO BK' 'AURGROUP FINANCIAL CU' 'MAINSOURCE BANK'
 'FORT JENNINGS STATE BANK' 'PIONEER COUNTRY DEVELOPMENT IN'
 'VERD-ARK-CA DEVEL CORP' 'CITICAPITAL SMALL BUS. FINANCE'
 'OLD NATIONAL TRUST COMPANY' 'HOMEPRIDE BANK' 'COLUMBUS FIRST BANK'
 'HERITAGE BANK, INC' 'CARDINAL BANK' 'TEXTRON BUSINESS CREDIT, INC.'
 'FIRST BANK OF OHIO' 'THE CITIZENS BANK OF ASHVILLE' 'OAK HILL BANKS'
 'THE PEOPLES SAVINGS BANK' 'CNB BANK' 'VISION ONE CU' 'OSGOOD STATE BANK'
 'THREE RIVERS FCU' 'SUNTRUST BANK' 'COMPASS BANK' 'RIDGESTONE BANK'
 'THE OLD FORT BANKING COMPANY' 'FDIC/FIRST BANK NATIONAL, N.A.'
 'FNB FINAN SERVICES CORP' 'THE HICKSVILLE BANK'
 'BROOKVILLE BLDG & SAVINGS ASSO' 'FDIC/FIRST BANK NATIONAL'
 'STANDING STONE NATIONAL BANK' 'THE CITIZENS BANK'
 'CHAMPAIGN INVESTMENT COMPANY' 'EAST WEST BANK'
 'THE PEOPLES NATIONAL BANK' 'THE HENRY COUNTY BANK'
 'BUCKEYE STATE CU INC' 'CITIZENS BANK OF PENNSYLVANIA']

--- BankState ---
42
['RI' 'OH' 'IN' 'MN' 'DE' 'CA' 'IL' 'VA' 'KY' 'TX' 'FL' 'CT' 'SD' 'SC'
 'CO' 'OR' 'TN' 'PA' 'OK' 'NV' 'WV' nan 'UT' 'NY' 'KS' 'MI' 'NC' 'DC' 'NJ'
 'ME' 'WA' 'GA' 'MO' 'AZ' 'IA' 'MD' 'NE' 'ID' 'AL' 'WI' 'WY' 'NM']

--- ApprovalDate ---
5862
<DatetimeArray>
['2005-11-01 00:00:00', '2005-06-06 00:00:00', '2003-03-18 00:00:00',
 '1995-06-28 00:00:00', '2009-04-16 00:00:00', '2001-08-07 00:00:00',
 '2006-03-10 00:00:00', '2000-04-18 00:00:00', '1996-10-30 00:00:00',
 '1994-03-14 00:00:00',
 ...
 '1983-09-12 00:00:00', '1986-07-23 00:00:00', '1985-09-17 00:00:00',
 '1983-03-03 00:00:00', '1982-02-16 00:00:00', '1995-12-14 00:00:00',
 '2009-01-09 00:00:00', '1996-12-27 00:00:00', '2012-10-11 00:00:00',
 '1990-05-09 00:00:00']
Length: 5862, dtype: datetime64[ns]

--- ApprovalFY ---
43
['2006' '2005' '2003' '1995' '2009' '2001' '2000' '1997' '1994' '1992'
 '1999' '1990' '1991' '2011' '2007' '1998' '2008' '1996' '1984' '2012'
 '1989' '2004' '2002' '1993' '2010' '1986' '1987' '1982' '1985' '2014'
 '1979' '1983' '1988' '1980' '1981' '2013' '1976' '1974' '1977' '1970'
 '1972' '1978' '1971']

--- NoEmp ---
191
[   2    0   11    1    7    4   60   50   18   16   17    8   25   14
   45   12    3   10    6   26   22   15    9    5   92   80   47   23
   42   70  125   29   30   28   20   13  112   35   38   41   36   21
   61   19   37   31   34   27   32   44   90  110   65   54   40   52
   56  200   59   64   48  560   51  165  120   33  450  105   95   62
   24  115   99   46 2500   73   72   82  131   85  100  268  103   66
  180  255   55  140   53   49   75  150   68   78  130  387   39  113
  312   58  170  106   93  126  114   87  109  122  187   76  128   43
  178   57  350  137   67   83  154  221   69  448   63  305  425  282
   84  220   74 2725  190  510  250  199  132   88  210  241  160  208
  189   79  118  188  480  195  116  155  240  104  171   71 4685   81
  127   77  235  225  123  307 7538   94  212  320  300  217  175  145
  265   97  400  135  161  197   96  495  141  147  222  257  201  230
  215  101  680   86 1150  500  290  202  117]

--- NewExist ---
3
['2.0' '1.0' 'NA']

--- CreateJob ---
88
[   0    1    4    8    2    6   10    3   15   25    7    5   80   30
   12   35   20   11   39   36   32    9   14   56   13  150   33   29
   40   28   17  180   23   27   18   16   50  134   24   22   79   43
 8800   38  300   75  163   19   37   21   44   46  100   60   70   31
   45   34   55   63   47  116   95  189   90  110   65  140   26   72
   54   42   66   57 1118   64  120  450   59   41   77   99  195   48
  198   68  145  252]

--- RetainedJob ---
127
[   2    0   15   50   18   17    1   14    4   45    6    7   22   12
   25    3    9    5   11   80   32    8   10   24   28   13   30  100
   26   37   31   34   27   21   20   85  110   47   40   35   42  200
   23   78   70   48   52  115   16   46   62   82   38   36   60  131
   19  103  150   33 8800  387   57   58   29  126   93  160  128   54
   51   65   90   67   83  116  448   69  125  254   43   63   75   41
   55   68   44  140  101  189  108  195  180  105  120  166   53   56
   64   72  250  220  235   96   71  212  255   84  300  145   39   73
   95  400  109  320   74  197  375  136 1300  230  275   59   98  202
  117]

--- FranchiseCode ---
475
['0' '1' '20359' '91283' '27765' '17150' '77875' '68021' '40650' '69146'
 '45150' '2359' '21725' '52000' '56885' '38605' '79140' '7990' '35706'
 '79153' '39555' '10528' '76282' '1560' '1350' '73525' '59560' '10776'
 '68150' '34450' '21420' '68020' '24850' '50564' '78760' '1570' '39700'
 '20550' '85325' '88355' '63810' '5650' '26556' '19755' '50965' '79902'
 '65845' '15713' '34650' '51720' '17998' '38200' '40700' '84060' '950'
 '49952' '30811' '89750' '43579' '9130' '36745' '23000' '9709' '53650'
 '24902' '67748' '68250' '29310' '44070' '6030' '48260' '34849' '6305'
 '21780' '9150' '52900' '33570' '55960' '50850' '38510' '81601' '35711'
 '9802' '70405' '81630' '25650' '84535' '64185' '77174' '60020' '9250'
 '20100' '17205' '52225' '9708' '10692' '75900' '8200' '44081' '48400'
 '51002' '50930' '50525' '10200' '35605' '65925' '55193' '61901' '50530'
 '67750' '70670' '60525' '41439' '74410' '26650' '74789' '10648' '66690'
 '82040' '9246' '17585' '10569' '61400' '10611' '36680' '68100' '67735'
 '20725' '32075' '24027' '47400' '91350' '75355' '10465' '65150' '45953'
 '56925' '9050' '24419' '82150' '88904' '70554' '76710' '75385' '63010'
 '10461' '17210' '22470' '29600' '74750' '80850' '66345' '20705' '48450'
 '64857' '10481' '65953' '88200' '10720' '10622' '30233' '67550' '42580'
 '40470' '17920' '35635' '67720' '63345' '25850' '73000' '3512' '73675'
 '31415' '45915' '18126' '10474' '44065' '71675' '42600' '78650' '81612'
 '39598' '84560' '89655' '78950' '10691' '79950' '55512' '9810' '20970'
 '37469' '17230' '35300' '10581' '72590' '20122' '61896' '70128' '65145'
 '35629' '58626' '13680' '63350' '20966' '17524' '50565' '77020' '14217'
 '28877' '21870' '37481' '90000' '28239' '16920' '75982' '76270' '32125'
 '83430' '54400' '36204' '67715' '37051' '20715' '48550' '44400' '33560'
 '15924' '49200' '67759' '60790' '84025' '59450' '35600' '50040' '66347'
 '3490' '70150' '17265' '68060' '48000' '88407' '67417' '70129' '43552'
 '52300' '1495' '90709' '67197' '62344' '61897' '45479' '81598' '30505'
 '33550' '79148' '22676' '35705' '33509' '59225' '53165' '79120' '62346'
 '22678' '66350' '10734' '80370' '44600' '31154' '29900' '8010' '37476'
 '38850' '29720' '66320' '10625' '9230' '24050' '80979' '52875' '6050'
 '81800' '52855' '16033' '46408' '43783' '53651' '35713' '65140' '54390'
 '53160' '20549' '67255' '51733' '47406' '70671' '9147' '4516' '66910'
 '45145' '10729' '72215' '55120' '13853' '10689' '51570' '18925' '50954'
 '91169' '4416' '34830' '72600' '21425' '10497' '20108' '74305' '5649'
 '37439' '81555' '55185' '49975' '84090' '52079' '56575' '36560' '75432'
 '29585' '56800' '10604' '53250' '85010' '90815' '32130' '88425' '37474'
 '81603' '24460' '36752' '50538' '54100' '78329' '41433' '45970' '67420'
 '25440' '43347' '61401' '50140' '26871' '399' '10731' '87050' '10643'
 '38615' '71670' '68451' '69995' '83450' '10764' '65160' '17900' '20487'
 '9118' '89785' '10693' '83882' '44006' '63815' '57270' '60753' '70130'
 '75710' '38600' '2929' '1499' '39300' '67170' '60590' '9200' '52956'
 '39590' '89020' '3500' '61398' '77037' '9234' '9450' '9750' '46875'
 '77890' '91110' '49820' '35618' '16314' '80360' '73900' '55210' '74755'
 '66486' '33567' '35626' '88430' '80374' '69149' '407' '8015' '34900'
 '76760' '82426' '67434' '78754' '34550' '9800' '44627' '86724' '89775'
 '33750' '4160' '85029' '56840' '89630' '10535' '91120' '30227' '68876'
 '31150' '35707' '4760' '69998' '62751' '62765' '75365' '5670' '21660'
 '24420' '36260' '17583' '92006' '76750' '17050' '47756' '43810' '75000'
 '74005' '36480' '66615' '52250' '68030' '10553' '32195' '25360' '64651'
 '66450' '40665' '32063' '44066' '13000' '46561' '69134' '35703' '61900'
 '51778' '52707' '1494' '17646' '56230' '30210' '84319' '17990' '17460'
 '1555' '34654' '75917' '60567' '10737' '15125']

--- UrbanRural ---
3
['1' '2' '0']

--- RevLineCr ---
3
['N' 'Y' 'NA']

--- LowDoc ---
3
['N' 'Y' 'NA']

--- DisbursementDate ---
1260
<DatetimeArray>
['2005-12-31 00:00:00', '2005-07-31 00:00:00', '2003-03-31 00:00:00',
 '1996-01-31 00:00:00', '2009-05-31 00:00:00', '2001-09-30 00:00:00',
 '2007-02-28 00:00:00', '2000-05-31 00:00:00', '1997-09-30 00:00:00',
 '1994-04-30 00:00:00',
 ...
 '1991-03-20 00:00:00', '1987-01-02 00:00:00', '2012-12-14 00:00:00',
 '2011-12-12 00:00:00', '2011-01-13 00:00:00', '1983-02-02 00:00:00',
 '2011-06-16 00:00:00', '1984-03-30 00:00:00', '1996-04-12 00:00:00',
 '2012-10-11 00:00:00']
Length: 1260, dtype: datetime64[ns]

--- DisbursementGross ---
7380
[  8000. 166000.  25000. ... 407338. 200160. 311800.]

--- BalanceGross ---
3
['$0.00 ' '$9,111.00 ' '$996,262.00 ']

--- Accept ---
2
[1 0]

--- IsFranchise ---
2
['No' 'Sí']

In [ ]:
inconsistentes_create = data[data['RetainedJob'] > (data['NoEmp'] + data['CreateJob'])] 
print(f" Casos donde se crean más empleos de los que tiene la empresa: {len(inconsistentes_create)}")

# Mostrar algunos
print(inconsistentes_create[['NoEmp', 'CreateJob', 'RetainedJob', 'Accept']])

print("\n Distribución en inconsistencias:")
print(inconsistentes_create['Accept'].value_counts(normalize=True))

⚠️ Casos donde se crean más empleos de los que tiene la empresa: 111
       NoEmp  CreateJob  RetainedJob  Accept
102        0          3            5       0
270        7          0            9       0
406        2          3           35       1
656        1          0            7       1
657        0          0            1       0
...      ...        ...          ...     ...
22269      0          0            3       1
22461      0          2            3       1
22466      2          0            8       1
22532      0          0            1       1
22762      8          2           11       1

[111 rows x 4 columns]

📊 Distribución en inconsistencias:
Accept
1    0.711712
0    0.288288
Name: proportion, dtype: float64

In [1]:
data['ApprovalDate'] = pd.to_datetime(data['ApprovalDate'], errors='coerce')
data['DisbursementDate'] = pd.to_datetime(data['DisbursementDate'], errors='coerce')

NameError: name 'pd' is not defined

In [ ]:
data.to_csv("train_limpio.csv", index=False)

In [4]:
import pandas as pd

df = pd.read_csv('../3_modelado/3.3_modelo_secreto/train_limpio.csv')

# 1. Eliminar columnas irrelevantes
cols_to_drop = ['id', 'LoanNr_ChkDgt', 'Name']
df.drop(columns=cols_to_drop, inplace=True)

# 2. Reemplazar todos los NaNs por 'Unknown', sin suponer valores
df = df.fillna('Unknown')

# 3. Conversión de fechas: convertir pero mantener Unknown si no se puede parsear
for date_col in ['ApprovalDate', 'DisbursementDate']:
    df[date_col] = pd.to_datetime(df[date_col], errors='coerce')
    df[date_col] = df[date_col].fillna('Unknown')

# 4. Extraer año y mes si la fecha es válida, si no poner 'Unknown'
df['ApprovalYear'] = df['ApprovalDate'].apply(lambda x: x.year if x != 'Unknown' else 'Unknown')
df['ApprovalMonth'] = df['ApprovalDate'].apply(lambda x: x.month if x != 'Unknown' else 'Unknown')

# 5. Limpiar y convertir BalanceGross (monetario)
df['BalanceGross'] = df['BalanceGross'].astype(str).replace('[\$,]', '', regex=True)
df['BalanceGross'] = df['BalanceGross'].apply(lambda x: float(x) if x.replace('.', '', 1).isdigit() else 'Unknown')

# 6. Mapear binarios si son Y/N o Yes/No, si no están especificados → '2'
def map_binary(val):
    if val in ['Y', 'Yes']:
        return 1
    elif val in ['N', 'No']:
        return 0
    else:
        return 2

df['RevLineCr'] = df['RevLineCr'].apply(map_binary)
df['LowDoc'] = df['LowDoc'].apply(map_binary)
df['IsFranchise'] = df['IsFranchise'].apply(map_binary)

# 7. Convertir variables categóricas (CatBoost las puede manejar como 'category')
categorical_columns = ['City', 'State', 'Bank', 'BankState']
for col in categorical_columns:
    df[col] = df[col].astype(str)

In [5]:
df.to_csv('train_limpio_v2.csv')

## Conclusiones

### Limpieza de columnas categóricas

RevLineCr y LowDoc contenían valores anómalos como '0', 'T', o símbolos ('), que fueron corregidos y estandarizados a 'Y', 'N', o 'NA'.

En LowDoc se detectaron valores erróneos ('A', 'R', 'S', 'C') que fueron considerados como información faltante y recodificados como 'NA'.

Se creó una nueva columna IsFranchise, que binariza FranchiseCode: 'No' si es '0' o '1', 'Sí' en caso contrario

## Analisis de columnas numéricas

994 empresas tienen NoEmp = 0, de las cuales muchas están aprobadas (tasa de aprobación ≈ 0.8078470824949698).
1555 registros tenían más empleos creados (CreateJob) que empleados actuales (NoEmp)  
111 registros tenían RetainedJob > NoEmp + CreateJob (tasa de aprobación ≈ 0.711712)