# Procesado dataset

Procesado del dataset en base al análisis previo. Este procesado sirve tanto para el conjunto de entrenamiento como para los conjuntos que se quieran clasisificar con los modelos. Haciendo este procesado común nos aseguramos que los datos que manejan los modelos tienen los mismos formatos y cualidades.

In [57]:
# external imports
import os

import pandas as pd

In [58]:
# constants
data_folder="../../data"
raw_data_folder = f"{data_folder}/raw"
processed_data_folder = f"{data_folder}/processed"

original_train_dataset_path = f"{raw_data_folder}/train.csv"
original_test_dataset_path = f"{raw_data_folder}/test_nolabel.csv"

train_dataset_processed_path = f"{processed_data_folder}/train_processed.csv"
train_dataset_balanced_processed_path = f"{processed_data_folder}/train_balanced_processed.csv"
test_nolabel_processed_path = f"{processed_data_folder}/test_nolabel_processed.csv"

In [59]:
# upload the dataset
original_train_df = pd.read_csv(original_train_dataset_path, sep=",")
original_train_df.head()

,id,LoanNr_ChkDgt,Name,City,State,Bank,BankState,ApprovalDate,ApprovalFY,NoEmp,...,CreateJob,RetainedJob,FranchiseCode,UrbanRural,RevLineCr,LowDoc,DisbursementDate,DisbursementGross,BalanceGross,Accept
0,bd9d6267ec5,1523195006,"P-SCAPE LAND DESIGN, LLC",NORTHFIELD,OH,CITIZENS BANK NATL ASSOC,RI,1-Nov-05,2006,2,...,0,2,0,1,N,N,31-Dec-05,"$8,000.00",$0.00,1
1,9eebf6d8098,1326365010,The Fresh & Healthy Catering C,CANTON,OH,"FIRSTMERIT BANK, N.A.",OH,6-Jun-05,2005,2,...,1,2,1,1,N,N,31-Jul-05,"$166,000.00",$0.00,1
2,83806858500,6179584001,AARON MASON & HOWE LLC,SAWYERWOOD,OH,"PNC BANK, NATIONAL ASSOCIATION",OH,18-Mar-03,2003,2,...,4,2,1,2,Y,N,31-Mar-03,"$25,000.00",$0.00,1
3,a21ab9cb3af,8463493009,MID OHIO CAR WASH,COLUMBUS,OH,THE HUNTINGTON NATIONAL BANK,OH,28-Jun-95,1995,2,...,0,0,1,0,N,N,31-Jan-96,"$220,100.00",$0.00,1
4,883b5e5385e,3382225007,Bake N Brew LLC,Newark,OH,THE HUNTINGTON NATIONAL BANK,OH,16-Apr-09,2009,0,...,0,0,0,1,N,N,31-May-09,"$25,000.00",$0.00,0

## Procesado por columnas

En la siguiente sección aplicamos el procesamiemto de datos a cada columna adecuado. Un tratamiento común será rellenar todos los valores nulos de manera que los datasets sobre los que se realicen las predicciones no tengan nulos.

In [60]:
processed_train_df = original_train_df.copy()
processed_train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22835 entries, 0 to 22834
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 22835 non-null  object
 1   LoanNr_ChkDgt      22835 non-null  int64
 2   Name               22834 non-null  object
 3   City               22834 non-null  object
 4   State              22835 non-null  object
 5   Bank               22813 non-null  object
 6   BankState          22813 non-null  object
 7   ApprovalDate       22835 non-null  object
 8   ApprovalFY         22835 non-null  int64
 9   NoEmp              22835 non-null  int64
 10  NewExist           22833 non-null  float64
 11  CreateJob          22835 non-null  int64
 12  RetainedJob        22835 non-null  int64
 13  FranchiseCode      22835 non-null  int64
 14  UrbanRural         22835 non-null  int64
 15  RevLineCr          22744 non-null  object
 16  LowDoc             22792 non-null  object
 17  DisbursementDate   22774 non-null  object
 18  DisbursementGross  22835 non-null  object
 19  BalanceGross       22835 non-null  object
 20  Accept             22835 non-null  int64
dtypes: float64(1), int64(8), object(12)
memory usage: 3.7+ MB

In [61]:
processed_train_df["Accept"].value_counts()

Accept
1    19004
0     3831
Name: count, dtype: int64

In [62]:
test_nolabel_processed_df = pd.read_csv(original_test_dataset_path, sep=",")
test_nolabel_processed_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3284 entries, 0 to 3283
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 3284 non-null   object
 1   LoanNr_ChkDgt      3284 non-null   int64
 2   Name               3284 non-null   object
 3   City               3284 non-null   object
 4   State              3284 non-null   object
 5   Bank               3279 non-null   object
 6   BankState          3279 non-null   object
 7   ApprovalDate       3284 non-null   object
 8   ApprovalFY         3284 non-null   object
 9   NoEmp              3284 non-null   int64
 10  NewExist           3284 non-null   float64
 11  CreateJob          3284 non-null   int64
 12  RetainedJob        3284 non-null   int64
 13  FranchiseCode      3284 non-null   int64
 14  UrbanRural         3284 non-null   int64
 15  RevLineCr          3280 non-null   object
 16  LowDoc             3275 non-null   object
 17  DisbursementDate   3277 non-null   object
 18  DisbursementGross  3284 non-null   object
 19  BalanceGross       3284 non-null   object
dtypes: float64(1), int64(6), object(13)
memory usage: 513.3+ KB

In [63]:
def process_column_id(df: pd.DataFrame): 
    # Procesado de columna
    column = "id"

    # No interesa para el modelo
    df.drop(columns=column, inplace=True)

In [64]:
def process_column_LoanNr_ChkDgt(df: pd.DataFrame): 
    # Procesado de columna
    column = "LoanNr_ChkDgt"

    # No interesa para el modelo
    df.drop(columns=column, inplace=True)

In [65]:
def process_column_Name(df: pd.DataFrame): 
    # Procesado de columna
    column = "Name"

    # No interesa para el modelo
    df.drop(columns=column, inplace=True)

In [66]:
def process_column_City(df: pd.DataFrame): 
    # Procesado de columna
    column = "City"

    # No interesa para el modelo
    df.drop(columns=column, inplace=True)

In [67]:
def process_column_State(df: pd.DataFrame): 
    # Procesado de columna
    column = "State"

    # No interesa para el modelo
    df.drop(columns=column, inplace=True)

In [68]:
def process_column_Bank(df: pd.DataFrame): 
    # Procesado de columna
    column = "Bank"

    # No interesa para el modelo
    df.drop(columns=column, inplace=True)

In [69]:
def process_column_BankState(df: pd.DataFrame): 
    # Procesado de columna
    column = "BankState"
    column_grouped = "BankStateInOhio"

    # Cambio de valores a binario
    df[column] = df[column].fillna("OH")
    df.loc[
        df[column] == "OH",
        column_grouped
    ] = int(1)

    df.loc[
        df[column] != "OH",
        column_grouped
    ] = int(0)

    df.drop(columns=column, inplace=True)

    df[column_grouped] = df[column_grouped].astype("int64")

In [70]:
def process_column_ApprovalDate(df: pd.DataFrame): 
    # Procesado de columna
    column = "ApprovalDate"

    # Al ser una fecha se dividirá en 2 columnas, una para el mes y otra para el año
    df[column] = pd.to_datetime(df[column])

    df["ApprovalDateMonth"] = df[column].dt.month
    df["ApprovalDateMonth"] = df["ApprovalDateMonth"].astype("int64")

    # Elimino la columna que ya no sirve
    df.drop(columns=column, inplace=True)

In [71]:
def process_column_ApprovalFY(df: pd.DataFrame): 
    # Procesado de columna
    column = "ApprovalFY"
    column_grouped = f"{column}Grouped"

    df[column] = df[column].astype(str).str.replace(r"\D", "", regex=True)
    # Cambio a enteros
    df[column] = df[column].astype("int64") 

    fiscal_year_mode = df[column].mode()[0]

    # Agrupación de años
    def agrupar_años(year:int):
        if 1970 <= year < 1980:
            return 1975
        elif 1980 <= year < 1990:
            return 1989
        elif year > 2025:
            return fiscal_year_mode
        else:
            return year

    # Agrupo
    df[column_grouped] = df[column].apply(agrupar_años)
    # Camnbio a enteros
    df[column_grouped] = df[column_grouped].astype("int64")
    # Elimino la columna que ya no sirve
    df.drop(columns=column, inplace=True)

In [72]:
def process_column_NoEmp(df: pd.DataFrame): 
    # Procesado de columna
    column = "NoEmp"
    column_grouped = f"{column}Grouped"

    # Agrupación de años
    def agrupar_numero_empleado(value:int):
        if value <= 10:
            return 0
        return 1
        
    df[column_grouped] = df[column].apply(agrupar_numero_empleado)
    # Camnbio a enteros
    df[column_grouped] = df[column_grouped].astype("int64")
    # Elimino la columna que ya no sirve
    df.drop(columns=column, inplace=True)

In [73]:
def process_column_NewExist(df: pd.DataFrame): 
    # Procesado de columna
    column = "NewExist"

    # Sustituyo nulos
    df[column] = df[column].fillna(df[column].mode()[0])
    # Camnbio a enteros
    df[column] = df[column].astype("int64")

    df.loc[
        df[column] != 2,
        column
    ] = int(1)

In [74]:
def process_column_CreateJob(df: pd.DataFrame): 
    # Procesado de columna
    column = "CreateJob"
    column_grouped = "CreateJobBinary"

    # Sustituyo nulos
    df[column] = df[column].fillna(df[column].mode()[0])
    # Cambio a enteros
    df[column] = df[column].astype("int64")

    df[column_grouped] = 0
    df.loc[
        df[column] > 0,
        column_grouped
    ] = int(1)

    # Elimino la columna que ya no sirve
    df.drop(columns=column, inplace=True)

In [75]:
def process_column_RetainedJob(df: pd.DataFrame): 
    # Procesado de columna
    column = "RetainedJob"
    column_grouped = "RetainedJobBinary"

    # Sustituyo nulos
    df[column] = df[column].fillna(df[column].mode()[0])
    # Cambio a enteros
    df[column] = df[column].astype("int64")

    df[column_grouped] = 0
    df.loc[
        df[column] > 0,
        column_grouped
    ] = int(1)

    # Elimino la columna que ya no sirve
    df.drop(columns=column, inplace=True)

In [76]:
def process_column_FranchiseCode(df: pd.DataFrame): 
    # Procesado de columna
    column = "FranchiseCode"
    column_grouped = "IsFranchise"

    # Sustituyo nulos
    df[column] = df[column].fillna(df[column].mode()[0])
    # Cambio a enteros
    df[column] = df[column].astype("int64")

    df[column_grouped] = 0
    df.loc[
        (df[column] != 0) &
        (df[column] != 1),
        column_grouped
    ] = int(1)


    # Elimino la columna que ya no sirve
    df.drop(columns=column, inplace=True)

In [77]:
def process_column_UrbanRural(df: pd.DataFrame):     
    # Procesado de columna
    column = "UrbanRural"

    # Sustituyo nulos
    df[column] = df[column].fillna(df[column].mode()[0])
    # Camnbio a enteros
    df[column] = df[column].astype("int64")

In [78]:
def process_column_RevLineCr(df: pd.DataFrame): 
    # Procesado de columna
    column = "RevLineCr"

    # Sustituyo nulos
    df[column] = df[column].fillna(df[column].mode()[0])

    # Modifico valores extraños
    df.loc[
        df[column] == "N",
        column
    ] = int(0)

    df.loc[
        (df[column] == "Y") |
        (df[column] == "T"),
        column
    ] = int(1)

    df.loc[
        (df[column] != 1) &
        (df[column] != 0),
        column
    ] = int(0)

    # Cambio a enteros
    df[column] = df[column].astype("int64")

In [79]:
def process_column_LowDoc(df: pd.DataFrame): 
    # Procesado de columna
    column = "LowDoc"

    # Sustituyo nulos
    df[column] = df[column].fillna(df[column].mode()[0])

    # Modifico valores extraños
    df.loc[
        df[column] == "Y",
        column
    ] = int(1)

    df.loc[
        (df[column] != 1),
        column
    ] = int(0)

    # Cambio a enteros
    df[column] = df[column].astype("int64")

In [80]:
def process_column_DisbursementDate(df: pd.DataFrame):     
    # Procesado de columna
    column = "DisbursementDate"

    # Elimino la columna que ya no sirve
    df.drop(columns=column, inplace=True)

In [81]:
def process_column_DisbursementGross(df: pd.DataFrame): 
    # Procesado de columna
    column = "DisbursementGross"
    column_grouped = "DisbursementGrossGrouped"


    # Sustituyo nulos
    df[column] = df[column].fillna(df[column].mode()[0])

    # Para convertir la moneda en un número
    df[column] = df[column].replace('[\$,]', '', regex=True).astype(float)

    # Agrupación de años
    def agrupar_gross(value:int):
        if value <= 50000:
            return 0
        elif 50000 < value <= 250000:
            return 1
        elif 250000 < value <= 1000000:
            return 2
        else:
            return 3

    df[column_grouped] = df[column].apply(agrupar_gross)

    # Cambio a enteros
    df[column_grouped] = df[column_grouped].astype("int64")

    # Elimino la columna que ya no sirve
    df.drop(columns=column, inplace=True)

<>:11: SyntaxWarning: invalid escape sequence '\$'
<>:11: SyntaxWarning: invalid escape sequence '\$'
/tmp/ipykernel_2415616/3769527384.py:11: SyntaxWarning: invalid escape sequence '\$'
  df[column] = df[column].replace('[\$,]', '', regex=True).astype(float)

In [82]:
def process_column_BalanceGross(df: pd.DataFrame): 
    # Procesado de columna
    column = "BalanceGross"

    # Elimino la columna que ya no sirve
    df.drop(columns=column, inplace=True)

In [83]:
def test_dataset_process(dataframe: pd.DataFrame):
    process_column_LoanNr_ChkDgt(dataframe)
    process_column_Name(dataframe)
    process_column_City(dataframe)
    process_column_State(dataframe)
    process_column_Bank(dataframe)
    process_column_BankState(dataframe)
    process_column_ApprovalDate(dataframe)
    process_column_ApprovalFY(dataframe)
    process_column_NoEmp(dataframe)
    process_column_NewExist(dataframe)
    process_column_CreateJob(dataframe)
    process_column_RetainedJob(dataframe)
    process_column_FranchiseCode(dataframe)
    process_column_UrbanRural(dataframe)
    process_column_RevLineCr(dataframe)
    process_column_LowDoc(dataframe)
    process_column_DisbursementDate(dataframe)
    process_column_DisbursementGross(dataframe)
    process_column_BalanceGross(dataframe)

def dataset_process(dataframe: pd.DataFrame):
    process_column_id(dataframe)
    test_dataset_process(dataframe)
    dataframe.drop_duplicates(inplace=True)

In [84]:
test_dataset_process(test_nolabel_processed_df)
dataset_process(processed_train_df)

/tmp/ipykernel_2415616/3003256540.py:6: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df[column] = pd.to_datetime(df[column])
/tmp/ipykernel_2415616/3003256540.py:6: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df[column] = pd.to_datetime(df[column])

## Guardamos el dataset procesado

In [85]:
processed_train_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14434 entries, 0 to 22829
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   NewExist                  14434 non-null  int64
 1   UrbanRural                14434 non-null  int64
 2   RevLineCr                 14434 non-null  int64
 3   LowDoc                    14434 non-null  int64
 4   Accept                    14434 non-null  int64
 5   BankStateInOhio           14434 non-null  int64
 6   ApprovalDateMonth         14434 non-null  int64
 7   ApprovalFYGrouped         14434 non-null  int64
 8   NoEmpGrouped              14434 non-null  int64
 9   CreateJobBinary           14434 non-null  int64
 10  RetainedJobBinary         14434 non-null  int64
 11  IsFranchise               14434 non-null  int64
 12  DisbursementGrossGrouped  14434 non-null  int64
dtypes: int64(13)
memory usage: 1.5 MB

In [86]:
processed_train_df["Accept"].value_counts()

Accept
1    11508
0     2926
Name: count, dtype: int64

Dado que el dataset está desbalanceado crearemos uno que este balanceado, en este caso eliminando casos del lado desbalanceado.

In [87]:
processed_train_balanced_df = processed_train_df.copy()

counts = processed_train_balanced_df["Accept"].value_counts()

# Número de filas que hay que eliminar
n_to_remove = counts[1] - counts[0]

# Borrado aleatorio
processed_train_balanced_df = processed_train_balanced_df.drop(
    processed_train_balanced_df[processed_train_balanced_df["Accept"] == 1].sample(n=n_to_remove, random_state=42).index
)

In [88]:
processed_train_df.to_csv(train_dataset_processed_path, sep=",", index=False)
processed_train_balanced_df.to_csv(train_dataset_balanced_processed_path, sep=",", index=False)
test_nolabel_processed_df.to_csv(test_nolabel_processed_path, sep=",", index=False)